---
- name: Init Load Balancer Servers
  hosts: lbservers
  become: yes

  vars:
    haproxy_cert_src: site.pem
    haproxy_cert_dir: /etc/haproxy/certs
    haproxy_cert_file: site.pem

  tasks:
    - name: Ensure SSH is enabled
      service:
        name: ssh
        state: started
        enabled: yes

    - name: Set hostname
      hostname:
        name: "{{ hostname }}"
      when: hostname is defined

    - name: Update /etc/hosts hostname mapping
      lineinfile:
        path: /etc/hosts
        regexp: '^127\.0\.1\.1'
        line: "127.0.1.1 {{ hostname }}"
      when: hostname is defined

    - name: Install HAProxy & Keepalived
      apt:
        name:
          - haproxy
          - keepalived
        state: present

    - name: Enable HAProxy & Keepalived
      service:
        name: "{{ item }}"
        state: started
        enabled: yes
      loop:
        - haproxy
        - keepalived

    ## <<=== 新增 SSL 區塊 ===>>

    - name: Ensure HAProxy cert directory exists
      file:
        path: "{{ haproxy_cert_dir }}"
        state: directory
        owner: root
        group: root
        mode: "0755"

    - name: Deploy HAProxy certificate (PEM)
      copy:
        src: "{{ haproxy_cert_src }}"
        dest: "{{ haproxy_cert_dir }}/{{ haproxy_cert_file }}"
        owner: root
        group: root
        mode: "0600"
      notify: Reload HAProxy

  handlers:
    - name: Reload HAProxy
      service:
        name: haproxy
        state: reloaded

